@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box; /*serve para alterar a largura e altura quando aplicada padding ou border*/
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
body,html{
    height: 100%;
}