@import url(reset.css);
@import url(button.css);


/*cabeça*/


.cabeca{
    background-image: url(/Projeto04/img/capa.png);
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 750px;
}
.logo img{
    width: 160px;
    margin: 30px 0 10px 20px;
}
.menu{
    float:right;
    margin: 20px;   
}
.menu li{
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    
}
.menu a{
    color: white;
}
.menucel a{
    color: black;
}
.menucel{
    display: none;
}
.chamada{
    color: white;   
    max-width: 650px;   
    float: right;
    margin: 150px 150px;   
    
}
.chamada h1{
    margin-bottom: 10px;
    font-size: 30pt;
}

/*cabeça*/

/*corpo*/

/*chamada1*/
.mensagem1{
    width: 100%;
    height: 400px;
    background-color: #472562;

}

.informacao{
    margin-top: 80px;
    list-style-position: inside;
    color: white;
    width: 50%;
    display: inline-block;
    position: relative;
    left: 150px;
}
.informacao h2{
    margin-bottom: 10px;
}
.informacao li, h1{
    margin-bottom: 5px;
}
.celular{
    background-image: url(/Projeto04/img/device.png);
    background-size: 100% 100%;
    width: 50%;
    height: 450px;
    float: right;
    position: relative;
    top: -60px;
    right: 10px;
    overflow: visible;
    
    
}
/*chamada1*/
/*chamada2*/
.mensagem2{
    width: 100%;
}

.msgbox{
    text-align: center;
    clear: both;
    max-width: 900px;

}
.msgbox h2{
    margin-bottom: 30px;
}

.tela img{
    width: 100%;
    position: relative;
    top: 80px;
}
/*chamada2*/

/*chamada3*/

.mensagem3{
    width: 100%;
}

.todos{
    width: 50%;
    color: white;
    float: left;
    line-height: 35px;
    background-color:#835FA7;
}
.eu{  
    width: 50%;   
    float: left;   
}

.box1{
    max-width: 600px;
    float: right;
    padding: 100px 30px;
}
.box2{
    max-width: 600px;
    padding: 100px 20px;
}
.todos h2{
    font-style: italic;
}

.eu p:first-line and h2{
    background-color: black
}
.mensagem3 img{
    width: 40px;
}

.box2>p{
    margin-top: 20px;
}
.eutitulo p{
    font-style: italic;
    font-size: 10pt;
}
.eutitulo{
    float: left;
    overflow: hidden;
    margin-right: 20px;
}
span{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: rgb(200, 200, 200);
    float: left;
    margin: 10px 8px 0 0;
    cursor: pointer;
}

/*chamada3*/
/*contato*/
.contato{
    width: 100%;
    background-color: #472563;
    overflow: hidden;
    color: white;
    padding-left: 10px;
    padding-top:80px;
}
.contatobox, .mapabox{
    width: 50%;
    float: left;
}

form{
    
    max-width: 580px;
    margin: 0 auto;
}
form p{
    max-width: 400px;
    margin: 0 60px 20px 0;

}
form input[type=text], input[type=email], textarea{
    width: 85%;
    padding: 20px;
    margin-top: 10px;
    resize: none; /*desabilita o redirecionamento da textarea*/
}

/*contato*/
/*mapa*/
.mapabox{
    height: 600px;
    padding-right: 20px;
}
.mapabox h2{
    margin-bottom: 10px;
}
.mapas{
    border: 5px solid rgba(255, 255, 255, 0.5);
    max-width: 500px;
    width: 100%;
}  
/*mapa*/

/*corpo*/
/* pe */
footer{
    width: 100%;
    background-color: #192123;
    color: white;
}
footer div{
    max-width: 1300px;
    margin: 0 auto;
    padding: 40px 20px;
}
.frase{
    display: inline-block;
}
.last{
    float: right;
}
/* pe */


@media screen and (max-width:830px){

    .cabeca{
        height: 600px;
    }
    
    .chamada{
        text-align: center;
        float:none;
        margin: 150px 10px; 
        max-width: 100%;
    
    }
    .chamada h1{
        font-size: 22pt;
    }
    .contato{
        padding: 0;
    }

    .mapabox, .contatobox{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
        
    }
    form{
        padding: 50px 10px;
    }
    form p{
        margin: 10px auto;
        
    }
    .mapabox{
        padding: 50px 0;
        height: auto;
    }
    .mapas{
        width: 80%;
        height: 500px;
    }
    
   

    
}

@media screen and (max-width:768px){

    .celular{
        display: none;
    }
    .mapas{
        height: 400px;
    } 
    .informacao{
        text-align: center;
        position: static;
        width: 100%;
        margin: 36px auto;
        display: inline-block;
    }
    .mensagem1{
        height: auto;
    }
    .informacao ul{
        display: inline-block;

    }
    .informacao li{
        text-align: left; 
    }
    .informacao input[type=button]{
        display: block;
        margin: 25px auto;
    }
    
    .menu nav{
        display: none;
    }
    .hamburguer{
        background-image: url(/Projeto04/img/menu.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        padding: 0;
        float: right;
        margin-top: 30px;
    }
    .hamburguer:hover + .menucel{
        transition: 1s;
        opacity: 1;
    }
    .menucel:hover{
        opacity: 1;
    }
    .menucel{
        width: 100%;
        background-color: rgb(221, 250, 250);
        text-align: center;
        display: block;
        float: left;
        opacity: 0;
        transition: 1s;
    }
    .menucel li {
        border: 1px solid #5c5d5eef;
        padding: 5px;
        cursor: pointer;
        color: black;
    }
    
    .mensagem2{
        padding-top: 50px;
    }


}
@media screen and (max-width:580px){
   
    .mapas{
        height: 300px;
    } 
    .todos, .eu{
        width: 100%;
        float: none;
        display: inline-block;
    }
    
    .tela img{
        top: 50px;
    }
    footer{
        text-align: center;
    }
    .frase, .last{
        float: none;
        width: 100%;
    }
}