*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
}
.logo img{
    width: 200px;
}