@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body,html{
    height: 100%;
}

/*Cabecalho*/
.cabeca{
    background-color: #DCDCDC;
    height: 100px;
}
.box, .corpo, .rodape{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.imgLeft{
    float: left;
    
}

.imgRight{
    float: right;
}
.logo{
    width: 160px;
    margin: 20px;
}
/*Cabeçalho*/

/*Corpo*/
.imgTela{
    width: 100%;
    height: 520px;
    background-image: url("../img/bg-form.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    padding-right: 20px;
}
.formulario{
    float: right;
    width: 400px;
    height: 540px;
    background-color: rgb(238, 238, 238);
    position: relative;
    top: -10px;
    -webkit-box-shadow: 9px 11px 14px 4px rgba(0,0,0,0.47); 
    box-shadow: 9px 11px 14px 4px rgba(0,0,0,0.47);
    
}
.formulario h2{
    background-color: #b6b6b6;
    padding: 30px 15px;
    font-size: 13pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    
}

.boxForm{
    padding: 20px 0 0 5%;
    color: rgb(78, 78, 78);
}

.formulario input[type=text], [type=email], [type=tel]{
    width: 95%;
    height: 45px;
    border: 1px solid rgb(175, 174, 174);
    padding-left: 10px;
    
}
input[type=submit]{
    width: 95%;
    height: 45px;
    margin-top: 30px;
    background-color: blue;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    font-size: 18pt;
}
input[type=submit]:active{     /*Ao clicar muda cor*/
    background-color: rgb(94, 94, 255); 
}


.formulario p{
    margin-top: 30px;
    font-size: 11pt;
    font-weight: bold;
}
.formulario p:first-child, p:last-child { /*pega o primero e o ultimo elemento e aplica a função*/
    margin-top: 10px;
}

.pingo{
    position: relative;
    top: -30px;
    left: 20%;

}

.boxmeio{
    background-color: #29526D;
    color: white;
    text-align: center;
    
    padding-bottom: 40px;
    font-size: 14pt;
}
.boxmeio h2{
    font-size: 17pt;
    padding: 10px;
    font-style: normal;
}

/*Galeria*/

.container{
    width: 100%;
    
    background-color: #4683AB;
    overflow: hidden; /*verifica se o elemento esta flutuando e recalcula o espaço da flutuação */
}
.foto{
    width: 60%;
    height: 350px;
    background-size: cover;
    background-position: center;
    display: inline-block;  /*Inline é o comportamento de se alinhar na mesma linha e block é comportamento de ser alterar a dimensão se coloca direto no filho e não no pai*/
    
}
.descricao{
    width: 33%;
    position: relative;
    display: inline-block;
    
    color: white;
    margin: 80px 0 0 3%;
}

/*Galeria*/

/*Corpo*/

/*Rodape*/

.rodape{
    height: 100px;
    background-color: #DCDCDC;
    text-align: center; /*Centralizar os elementos se insere text-align no pai*/
}
.boxRodape img{
    width: 140px;
    margin-top: 30px;
}
/*Rodape*/

@media screen and (max-width: 1024px) {
    .imgTela{
        height: 700px;
        padding:90px 10px 0 0;
    }
    .formulario{
        float: none;        
        position:static;
        margin: 0 auto;       
    }
    .pingo{  
        left: 0;
    }
}

@media screen and (max-width: 728px) {
    .foto{
        width: 100%;
        height: 350px;
        background-size: cover;
        background-position: center;
          /*Inline é o comportamento de se alinhar na mesma linha e block é comportamento de ser alterar a dimensão se coloca direto no filho e não no pai*/
        
    }
    .descricao{
        width: 80%;       
        margin: 90px 10%;
    }
}


@media screen and (max-width: 510px) {
    .imgRight, .imgLeft{
        text-align: center;
        float: none;       
    }
    .cabeca{
        background-color: #DCDCDC;
        height: 200px;
    }

    .formulario{
        width: 99%;
        height: 540px;
        margin-left: 2%;
        
        
    }

    
}