.aula{


*display: inline-block; /*Alinha os elementos porem se comporta como frase com espaço entre eles inline = alinhado block = redimensionar padrão dos elementos
exemplo:
   <div><dic/><!--
--><div><dic/><!--
--><div><dic/>
Remove o espaço do "display: inline-block;"*/
*text-align: center; /*Também usado para alinhar os elementos e usa no pai e os filhos usando "display: inline-block;"*/
*margin-left: auto; /*Empurra o elemento para direita preenchendo a esquerda mais a largura tem que esta setada*/
*margin: 0 auto; /*Centraliza o elemento mais a largura tem que esta setada*/
*text-align: justify; /*Distribui o elementos porem se for uma linha nao acontece nada para resolver isso usa uma propriedade do css
.example::after{
	content: ''; 		adiciona no html um conteúdo
	display: inline-block; 	comportamento de palavra
	width: 100%; 		ocupa a linha toda
}
Assim ele distribui o elemento lembrando que o "text-align: justify;" coloca no pai*/
*overflow: hidden; /*Ele verifica os elementos que estão flutuando e recalcula considerado os elementos flutuando nele e caso setado a altura dele esconde os elementos flutuando*/
*clear: both; /*Verifica se ah elementos flutuando em ambos os lados e o conteúdo pula pra linha de baixo*/
*line-height: 35px; /*Espaços entre linhas*/
*position: relative; /*Posiciona onde ele foi criado mais nao deixa seu contexto
*z-index: 1; /*o eixo z eh o que determina quem esta na frente mais para isso tem que setar o position relative pois o padrão eh static "z-index: 0;" eh o padrão*/
*position: absolute; /*Cria um novo contexto como float e a referencia para deslocamento eh a tela, se tiver um elemento dentro do outro para respeitar o pai o mesmo tem que estar diferente de static(o pai diferente de position static)*/
*transform: translate(-50%,-50%); /*Para centralizar o elemento do seu eixo caso use "position: absolute;" ex: transform: translate(X,Y);*/
*position: fixed; /*Cria um novo contexto e fica fixa tem que setar sua largura*/
*resize: none; /*desabilita o redirecionamento da textarea*/
*display: flex; /* Torna o elemento um flex container automaticamente transformando todos os seus filhos diretos em flex itens*/
*align-items: center; /*Centraliza os intens no filho*/
}
*div p:nth-of-type(1){/*Seleciona o elemento que quiser alterar no exemplo selecionou o paragrafo 1*/
	width: 100%;
 }
