/* Cabecalho */

header{
    width: 100%;
    height: 600px;
    background-image: url(../img/capa.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}
.cabecalho{
    width: 100%;
    max-width: 1280px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}
.logo1{
    width: 150px;
    height: 40px;
    background-image: url(../img/logo-danki.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.cabecalho>nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.botao-menu{
    display: none
}

.apresentacao1{
    width: 100%;
    max-width: 900px;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header section{

    width: 100%;
    max-width: 500px;
    color: white;
}
/* Cabecalho */

/*Artigo 1*/

.artigo1{
    width: 100%;
    height: 100%;
    max-height: 300px;
    background-color: #472562;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.apresentacao2{
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-position: inside;
    

}
button{
    width: 70%;
    margin: 0 auto;
    padding: 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: #FF703D;
    color: white;
    font-size: 14pt;
}

.celular{
    width: 400px;
    padding-top: 340px;
    transform: translateY(-21px);
    background-image: url(../img/device.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/*Artigo 1*/

/*Artigo 2*/

.artigo2{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    
}
.artigo2 > div:first-child{
    width: 100%;
    max-width: 800px;
    height: 250px;
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.tela{
    width: 100%;
    max-width: 800px;
    height: 500px;
    background-image: url(../img/mockup.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(50px);
}

/*Artigo 2*/

/*Artigo 3*/

.artigo3{
    width: 100%;
    min-height: 300px;
    display: flex;
}
.desc1{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 70px;
    gap:30px;
    background-color: #835FA7;
    color: white;
}
.desc2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 120px 70px;
    gap:30px
}
.desc2 > div:first-child{
    width: 100%;
    max-width: 280px;
    display: flex;
    justify-content: space-between;
}

.foto{
    width: 50px;
    height: 50px;
    border-radius: 80px;
    background-image: url(../img/rafael.jpeg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: rgb(200, 200, 200);
    cursor: pointer;
    margin-top: 10px;
    margin-right: 5px;
}
.selecionado {
    background-color: rgb(150, 150, 150);
}
    
span:hover{
    background-color: rgb(150,150, 150);
}

/*Artigo 3*/

/*Artigo 4*/

.artigo4{
    width: 100%;
    min-height: 400px;
    display: flex;
    background-color: #472563;
    color: white;
}
.contato{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
form{
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form input{
    height: 50px;
}
form textarea{
    height: 100px;
    size: none;
    resize: none;
}
form button{
    height: 50px;
    font-size: 16pt;
}
.mapa{
    width: 50%;
}

/*Artigo 4*/

footer{
    width: 100%;
    height: 100px;
    background: #192123;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}