/* Cabecalho */

header {
    width: 100%;
    height: 600px;
    background-image: url(../img/capa.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.cabecalho {
    width: 100%;
    max-width: 1280px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.logo1 {
    width: 150px;
    height: 40px;
    background-image: url(../img/logo-danki.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.botao-mobile {
    display: none;
}

.menu-mobile {
    display: none;
}

.apresentacao1 {
    width: 100%;
    max-width: 900px;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header section {

    width: 100%;
    max-width: 500px;
    color: white;
}

/* Cabecalho */

/*Seção 1*/

.secao1 {
    width: 100%;
    height: 100%;
    max-height: 300px;
    background-color: #472562;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.apresentacao2 {
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-position: inside;
}

button {
    width: 70%;
    margin: 0 auto;
    padding: 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: #FF703D;
    color: white;
    font-size: 14pt;
}

.celular {
    width: 400px;
    padding-top: 340px;
    transform: translateY(-21px);
    background-image: url(../img/device.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*Seção 1*/

/*Seção 2*/

.secao2 {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

}

.secao2>div:first-child {
    width: 100%;
    max-width: 800px;
    height: 250px;
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tela {
    width: 100%;
    max-width: 700px;
    height: 100%;
    max-height: 500px;
    background-image: url(../img/mockup.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(50px);
    box-shadow: 13px 17px 5px 3px rgba(0, 0, 0, 0.75);

}

/*Seção 2*/

/*Seção 3*/

.secao3 {
    width: 100%;
    min-height: 300px;
    display: flex;
}

.desc1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    gap: 30px;
    background-color: #835FA7;
    color: white;
}

.desc2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 120px 70px;
}

.cont-equipe {
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;/* Coloca os depoimentos um do lado do outro */
    justify-content: space-between;
    transition: transform 0.5s ease-in-out;/* Faz o movimento lateral suave */
}
.equipe{
    width: 100%; /* Cada depoimento ocupa a largura total da tela */
}

.equipe > div:first-child {
    width: 100%;
    max-width: 280px;
    display: flex;
    justify-content: space-between;
    
}
.equipe > div:last-child{
    width: 100%;
    max-width: 500px;
    padding: 10px 0;
}

.foto {
    width: 50px;
    height: 50px;
    border-radius: 80px;
    background-image: url(../img/rafael.jpeg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: rgb(200, 200, 200);
    cursor: pointer;
    margin-top: 10px;
    margin-right: 5px;
}

.selecionado {
    background-color: rgb(150, 150, 150);
}

span:hover {
    background-color: rgb(150, 150, 150);
}

/*Seção 3*/

    /*Seção 4*/

    .secao4 {
        width: 100%;
        min-height: 400px;
        display: flex;
        background-color: #472563;
        color: white;
    }

    .contato {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
    }

    form {
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0 10px;
    }

    form input {
        height: 50px;
    }

    form textarea {
        height: 100px;
        size: none;
        resize: none;
    }

    form button {
        height: 50px;
        font-size: 16pt;
    }

    .mapa {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
    }

    .localizacao {
        width: 100%;
        max-width: 400px;
        height: 400px;
        border: 5px solid white;
    }

    /*Seção 4*/

    /* Footer */

    footer {
        width: 100%;
        height: 100px;
        background: #192123;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Footer */

    /* Responsivo */

    @media screen and (max-width: 750px) {

        .cabecalho {
            padding: 0;
        }

        .menu ul {
            display: none;
        }

        .botao-mobile {
            display: flex;
            width: 30px;
            height: 30px;
            background-image: url(../img/menu.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        .menu-mobile {
            width: 100%;
        }



        .menu-mobile li {
            list-style: none;
            background-color: white;
            border: 1px solid black;

            text-align: center;
        }

        .menu-mobile a {
            width: 100%;
            padding: 10px 0;
            display: inline-block;
            color: black;
        }

        .menu-mobile a:hover {
            background-color: #ccc;
        }


        .apresentacao1 {
            padding: 0 20px;
            text-align: center;
            justify-content: center;
        }

        .celular {
            display: none;
        }

        .secao1 {

            height: 600px;
        }

        .apresentacao2 {
            justify-content: space-around;
            align-items: center;
        }

        .secao2>div:first-child {
            padding: 0 20px;
        }

        .tela {
            background-size: 100% 100%;
            transform: translateY(30px);

        }

        .secao3 {
            flex-direction: column;
        }

        .desc1,
        .desc2 {
            width: 100%;
        }

        .desc2 {
            padding: 70px;
        }

        .secao4 {
            flex-direction: column;
        }

        .contato {
            width: 100%;
        }

        .mapa {
            width: 100%;
            padding: 40px 10px;
        }
    }