.dvg{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.dvgTitulos{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    background-color: #138;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.dvgTitulos div{
    padding: 10px;
    border: 1px solid #fff;
}

.dvgDados{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.dvgLinha{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.dvgLinha:nth-child(odd){
    background-color: #aaa;
}

.dvgLinha:nth-child(even){
    background-color: #eee;
}

.dvgLinha:hover{
    background-color: #088 !important;
}

.c1{
    width: 50px;
    display: flex;
    justify-content: center;
    
}

.c2{
    width: 150px;
    display: flex;
    justify-content: center;
}

.c3{
    width: 150px;
    display: flex;
    justify-content: center;
}

.c4{
    width: 150px;
    display: flex;
    justify-content: center;
}

.c5{
    width: 100px;
    display: flex;
    justify-content: center;
}

.dvgIcone{
    width: 20px;
    cursor: pointer;
    margin: 0 5px;
    color: black;
}

/* Caixa View */

.janelaView{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}
.view{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #aaa;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    padding: 10px;
    
}
.campo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 5px 0;
    width: 500px;
}
.campo input{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
}
.rodape{
    align-items: center !important;
    justify-content: center !important;
    flex-direction: row !important;
}
.btn{
    background-color: #480;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.ocultar{
    display: none;
}