@import "tailwindcss";


.campoform {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.inputDados {
    padding: 0.5rem;
    border: 1px solid #000000;
    border-radius: 4px;
}
button {
    padding: 0.5rem 1rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #005bb5;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.gridLinhaTitulos {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.gridTitulos {
    width: 20%;
}
.gridLinhaDados {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.gridLinhas {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.gridLinha {
    width: 20%;
}
