@import "tailwindcss";

:root {

  /*root é a raiz do documento, onde podemos definir variáveis globais*/
  div {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 12px;
  }

  h1 {
    color: #333;
    margin-bottom: 8px;
    font-size: large;
    font-weight: bold;
  }
  h2{
    color: #555;
    margin-bottom: 6px;
    font-size: medium;
    font-weight: bold;
  }
  button{
    color: #777;
    margin-bottom: 4px;
    font-size: small;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid currentColor;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
  }

}