/* Cabeçalho */

header{
    width: 100%;
    font-size: 18pt;
    border-bottom: 2px solid red;
    color: black;
}
header > div{
    max-width: 1400px;
    padding: 10px 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 200px;
    aspect-ratio: 2/1;
    background-image: url(../img/logo.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.menu ul{
    display: flex;
    list-style: none;
}
a{
    text-decoration: none;
    padding: 0 30px;
    color: black;
}
.botao-mobile{
    display: none;
}
.menu-mobile{
    display: none;
}
/* Banner */
.banner{
    width: 100%;
    max-height: 650px;
    aspect-ratio: 4/3;
    background-image: url(../img/bg.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner > div{
    width: 100%;
    max-width: 1500px;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto-banner{
    width: 100%;
    max-width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.texto-banner div{
    width: 100%;
    font-size: 16pt;
    font-style: italic;
    align-content: center;
    padding: 20px 50px;
    background-image: url(../img/box-text.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

.texto-banner div:nth-child(2){
    width: 200px;
    transform: translateX(-10px);
}
.texto-banner div:nth-child(3){
    width: 180px;
    transform: translateX(-20px);
}

.texto-banner div:nth-child(4){
    color: black;
    background-image: url(../img/box-white-text.png);
    transform: translateX(-40px);
}

/* Separador */

.linha{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 80px 50px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha div{
    width: 100%;
    height: 4px;
    background-color: black;
}

.linha h1{
    transform: translateY(-30px);
    background-color: white;
    padding: 0 30px;
    text-align: center;
}

/* Destaque */

.destaque{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
}

.destaque article{
    width: calc(100%/3);
    border: 10px solid white;
}
.foto-veiculo{
    aspect-ratio: 4/3;
    background-image: url(../img/carro1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

button{
    
    width: 150px;
    height: 50px;
    background-color: #EB2D2D;
    color: white;
    font-style: italic;
    font-size: large;
    margin-top: 20px;
}

/* Apresentacao */

.apresentacao{
    width: 100%;
    margin-top: 100px;
    display: flex;
    color: white;
    font-style: italic;
    font-size: 18pt;
}
.apresentacao article{
    width: 50%;
    min-height: 300px;
    padding: 20px;
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.apresentacao article:nth-child(2){
    background: #EB2D2D;
}
h3{
    margin: 10px 0;
}
.apresentacao li{
    list-style-position: inside;
}
.apresentacao button{
    margin: 160px 30px 0;
}

figure{
    width: 80%;
}
figure > div{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: #252525;
}
figure > div > div{
    width: 80px;
    display: flex;
    justify-content: space-between;
}
.setadir{
    width: 30px;
    aspect-ratio: 1/1;
    background-image: url(../img/arrow-right.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
.setaesq{
    width: 30px;
    aspect-ratio: 1/1;
    background-image: url(../img/arrow-left.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

/* Contato */

.contato{
    width: 100%;
    display: flex;
    justify-content: center;
}

form{
    width: 100%;
    max-width: 600px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form > div{
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
input[type="email"],input[type="tel"]{
    width: 48%;
}
form input ,textarea{
    width: 100%;
    height: 60px;
    padding-left: 15px;
    border: 1px solid #ccc;
    font-weight: bold;
}
textarea{
    height: 150px;
    padding-top: 10px;
    resize: none;
}

/* Rodape */
footer{
    width: 100%;
    height: 100px;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #252525;
    color: white;
}
footer a{
    color: white;
    font-size: large;
}

.selecionado{
    color: red !important;
}

/* Responsivel */

@media (max-width: 1280px) {
    .apresentacao article {
        width: 100%;
        height: 400px;
        flex-direction: column;
    }
    .apresentacao button {
        margin: 10px 30px 0;
    }

}

@media (max-width: 780px) {

    /* Home */

    .menu {
        display: none;
    }

    .botao-mobile {
        width: 30px;
        height: 30px;
        background-image: url(../img/icon_menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex !important;
    }
     .menu-mobile {
        width: 100%;
    }

    .menu-mobile ul {
        width: 100%;
        padding: 10px;
    }

    .menu-mobile li {
        list-style: none;
        
        border: 1px solid white;
        text-align: center;
    }

    .menu-mobile a {
        width: 100%;
        padding: 10px 0;
        display: inline-block;
    }

    .menu-mobile li:hover {
        background-color: #9e9e9e;
    }

    .banner {
        background-size: cover;
        background-position: 100px center;
        aspect-ratio: 1/2;
        align-items: flex-start;
    }
    .banner > div{
        padding: 40px 0 0 40px;
        flex-direction: column;
    }

    

    .destaque {
        flex-direction: column;
    }

    .destaque article {
        width: 100%;
        text-align: center;
    }

    .apresentacao {
        flex-direction: column;
    }

    

    .apresentacao article>div {
        font-size: 14pt;
    }

    

    form>div {
        height: 140px;
        flex-direction: column;
    }

    input[type="email"],
    input[type="tel"] {
        width: 100%;
    }

}





