:root {
    --corprimaria: #248;
    --corsecundaria: #ccc;
    --corfundo: #fff;
    --corfundo2: #888;
    --corfundo3: #000;
    --corfundo4: #aaa;
    --corfundo5: #666;
}

.menuprincipal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 241px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all .2s;

}

.ocultar {
    left: -210px;
    transition: all .2s;
}

.menuitens {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: var(--corfundo);
    height: 100vh;
}

.btn_menuitem {
    cursor: pointer;
    margin: 5px;
    padding: 5px 15px;
    width: 200px;
    border-radius: 5px;
    background-color: #888;
    text-align: center;
    color: #fff;
}

.btn_menuprincipal {
    cursor: pointer;
    width: 30px;
    border: none;

}

/* FORMATAÇÃO DE TABELA */
.areagrid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 100px;
}

.titulogrid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--corprimaria);
    color: white;
    width: 100%;

}

.colunatitulogrid {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--corfundo);
}

.dadosgrid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.linhagrid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.linhagrid:nth-child(even) {
    background-color: #fff;
}

.linhagrid:nth-child(odd) {
    background-color: #ddd;
}

.linhagrid:hover {
    background-color: var(--corfundo2);
}

.colunalinhagrid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone_op {
    cursor: pointer;
}

/* Topo Jaela */

.topojanela {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    width: 100%;
}

.btn_mainoper {
    background-color: var(--corprimaria);
    border-radius: 100px;
    cursor: pointer;
    width: 40px;
}

/* Janela Novo */

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 9999;
    transition: all .2s;

}

.janelapopup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 520px;
    height: 100%;
    margin: 30px 0;
    /* max-height: calc(100vh - 0px); */
}

.titulopopup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--corprimaria);
    color: white;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    width: 100%;
}

.corpopopup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--corfundo4);
}

.campoform {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.inputform {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    border: none;
}

.rodapepopup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--corprimaria);
    color: white;
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
}

.btn_comandopopup {
    cursor: pointer;
    margin: 5px;
    padding: 5px 15px;
    min-width: 100px;
    border-radius: 5px;
    background-color: var(--corfundo4);
    text-align: center;
    color: var(--corfundo3);
    text-transform: uppercase;
}

.ocultarpopup {
    opacity: 0;
    pointer-events: none;
    transition: all .2s;
}

.btn_closepopup {
    cursor: pointer;
    width: 30px;
    border: none;
    background-color: transparent;
}

.telefones {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 5px;
    background-color: var(--corfundo);
    margin: 10px 0;
}

.tel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 5px;
    background-color: yellow;

}

.numtel {
    background-color: var(--corfundo4);
    border-radius: 5px 0 0 5px;
    padding: 5px;
}

.deltel {
    background-color: var(--corfundo5);
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    padding: 2px;
}

.filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 100px;
}

.radioform {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

/* Caixa de Mensagem */

.cxmsg_fundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000 !important;
}

.cxmsg {
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.titulo_cxmsg {

    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.titulo_cxmsg p {
    margin: 0;
}

.btn_fechar_cxmsg {
    cursor: pointer;
    background-color: #f00;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.corpo_cxmsg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    color: #000;
    padding: 5px;
    text-align: center;
    height: 100%;
}

.rodape_cxmsg {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.btn_cxmsg {
    background-color: #aaa;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 100px;
    height: 40px;
}

.btn_cxmsg:hover {
    background-color: #4e4e4e;
}