*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

.container_pri{
   display: flex; 
   background-color: brown;
}

.container_esq{
    background-color: rgb(85, 85, 247);
    width: 400px;
    height: 100vh;
}

.container_dir{
    background-color: aqua;
    width: 100%;
}

.header{
    width: 100%;
    height: 60px;
    background-color: rgb(102, 102, 102);
}

.logo{
    background-image: url(logo.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50% -40px;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.container_menu{
    display: flex;
    flex-direction: column;
}

.op{
    display: flex;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.op a{

    color: white;  
    position: relative;
    font-size: 15pt;
}

.container_dir_painel{
  text-align: center;
  padding: 20px;
}
.container_dispositivo{
  max-width: 1000px;
  height: 100px;
  background-color: blueviolet;
  margin: 20px auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

button{
  padding: 10px 40px;
  border-radius: 30px;
  font-size: 15pt;
}
.selecionado{
  background-color: rgb(125, 125, 248)
} 
/*Lista Suspensa*/

.pesquisa{
  margin: 8px 0;
  font-size: 16pt;
  border-radius: 20px;
  padding: 8px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 290px;
  z-index: 1;
  background-color: white;
  border-radius: 10px;
  
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 16pt;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

/*Lista Suspensa*/
















