
/* Reset do html */
*{
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box; /*serve para alterar a largura e altura quando aplicada padding ou border*/
    font-weight: normal;
    list-style: none;
    font-style: italic;
}
body,html{
    height: 100%;
}
.container{
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between;
}

/* Posição dos elementos */
.flex{
    display: flex;
}
.centralizado{
    margin: 0 auto;
}
a{
    text-decoration: none;
}
/* Teste para localização dos elementos */
.t1{
    background-color: red;
}
.t2{
    background-color: yellow;
}
.t3{
    background-color: green;
}
.dist{
    justify-content: space-between;
}