@import url(reset.css);


.menu nav li{
    display: inline-block;
    margin: 20px;
    font-size: 20pt;
    font-style: italic;   
}
.banner{
    background-image: url(/Projeto06/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    
}