@import url(reset.css);
@import url(venda.css);
@import url(sobre.css);
@import url(contato.css);
@import url(veiculo.css);

/* Cabeçalho */
.menu nav li {
    display: inline-block;
    margin: 20px;
    font-size: 20pt;
    font-style: italic;
}

a {
    color: black;
}

.hamburguer {
    display: none;
}

/* Banner */
.banner {
    background-image: url(/Projeto06/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    background-position: right bottom;
    height: 650px;
}

.chamado {
    margin: 50px 40px;
    padding: 10px;
    width: 380px;
    font-size: 18pt;
}

.faixa {
    background-image: url(/Projeto06/img/box-text.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    margin: 30px 0 30px 30px;
    padding: 20px 50px;
}

.w60 {
    width: 60%;
    margin-left: 20px;
}

.w50 {
    width: 50%;
    margin-left: 10px;
}

.email {
    background-image: url(/Projeto06/img/box-white-text.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px 50px;
}

/* Veículos em destaque */

.linha {
    width: 100%;
    border: 1px solid black;
    position: relative;
    top: 110px;
    z-index: -1;
}

.soblinha {
    text-align: center;
    margin: 80px auto;
    font-size: 18pt;

}

.soblinha h2 {
    background-color: white;
    display: inline-block;
    padding: 0 20px;
}

/* Galeria */

.carro {
    margin: 0 10px;
    width: calc(100%/3);
}

.foto img {
    width: 100%;
}

button {
    display: inline-block;
    background-color: red;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
    margin: 20px 0;
}

/* Mensagem */

.box {
    width: calc(100%/2);
    color: white;

}

.servbox {
    background-color: rgb(30, 30, 30);
    padding: 0 20px;
}

.depobox {
    background-color: rgb(255, 30, 30);
    padding: 0 20px;
}

.box li {
    list-style: disc;
    list-style-position: inside;
}

.mensagemflex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 100px auto;
    max-width: 400px;
}

.depoimento {
    max-width: 500px;
    margin: 100px auto;
}

.btnservice button {
    margin-left: 10px;
    margin-bottom: 0;
    padding: 10px 40px;
}

.btn {
    margin: 0 20px;
    cursor: pointer;
}

.depoimento h2:nth-of-type(2) {
    float: right;
    color: rgb(50, 50, 50);
}


/* Contato */

.formulario {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: -40px;
}

input[type=email],
input[type=tel],
input[type=text],
textarea {
    width: 48%;
    float: left;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid black;
    font-size: 12pt;
    font-style: normal;

}

input[type=tel] {
    float: right;
}

input[type=text] {
    width: 100%;
}

textarea {
    width: 100%;
    resize: none;
}

input[type=submit] {
    display: inline-block;
    background-color: red;
    padding: 10px 50px;
    color: white;
    cursor: pointer;
    margin: 20px 0;

}

/* Rodape */
footer {
    background-color: rgb(37, 37, 37);
    padding: 20px 0;
    color: white;
}

.container>nav>li {
    display: inline-block;
    margin: 0 20px;
    font-style: italic;
    font-size: 14pt;
}

.container>nav>li>a {
    color: white;
}

.container h3 {
    margin-right: 20px;
}

/* Responsivo */

@media screen and (max-width:900px) {
    /* Mensagemflex */


    .mensagemflex {
        max-width: 80%;
        flex-direction: column;
        align-items: flex-start;
    }

}

@media screen and (max-width:710px) {

    /* Mensagemflex */
    .hamburguer {
        background-image: url(/Projeto06/img/icon_menu.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
        display: block;
    }

    .menu {
        display: none;
    }

    .mensagem {
        width: 100%;
        flex-direction: column;

    }

    .box {
        width: 100%;
        padding: 50px 30px;
    }

    /* Banner */

    .chamado {
        margin: 20px 0px;
        font-size: 14pt;
    }

    /* galeria */
    .galeria {
        flex-direction: column;
    }

    .carro {
        margin: 0;
        width: 100%;
    }

    .mensagemflex,
    .depoimento {
        align-items: center;
        margin: 0 auto;
    }

    .btnservice button {
        margin: 20px 0;
    }

    /* Contato */

    .formulario{
        padding: 10px;
    }

    input[type=email],
    input[type=tel],
    input[type=text],
    textarea {
        width: 100%;

    }

    /* Rodape */

    .container nav{
        display: none;
    }
    .container h3{
        margin: 0 auto;
    }


}