.contvenda{
    justify-content: center;   
}
.contveiculo{
    width: 58%;
    margin-right: 30px;
}
.textcarro{
    width: 230px;
}
.carroamostra{
    
}
.fotocarro{
   background-image: url(/Projeto06/img/carro1.jpg);
   background-size: contain;
   background-repeat: no-repeat;
   width: 100%;
   padding-top: 80%;
   
}
.textcarro{
    padding-top: 40px;
}
.textcarro p{
    margin: 10px 0;
    padding-top: 30px;
}


