.venda{
    justify-content: space-between;
}
.filtro{
    width: 28%; 
}
.galeriac{
    width: 70%;
}
.saidebar{
    border: 1px solid rgb(121, 121, 121);
    border-radius: 10px;
    position: relative;
}
.preenchido{
    border-radius: 10px;
    width: 30%;
    background-image: linear-gradient(rgba(240, 240, 240), rgb(150, 150, 150) );
    padding: 10px;
}
.ponto{
    width: 30px;
    height: 30px;
    background-image: linear-gradient(rgb(240, 240, 240), rgb(150, 150, 150) );
    border-radius: 20px;
    position: absolute;
    left: 25%;
    top: -4px;
    cursor: pointer;
    border: 0.5px solid rgb(102, 102, 102);
}
.preco{
    margin-bottom: 30px;
}
.preco h2{
    margin-bottom: 20px;
}
.ano h2{
    margin-bottom: 10px;
} 
.ano input{
    margin: 10px 10px 10px 0;
}
@media screen and (max-width: 770px) {
    .venda{
        flex-direction: column;
        align-items: center;
    }
    .filtro{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .galeriac{
        width: 100%;
        margin-top: 50px;
        
    }
    .preco{
        width: 100%;
    }
    .ponto{ 
        left: 28%;  
    }
}

@media screen and (max-width: 710px) {
    .galeriac{
        text-align: center;  
    }
    .ponto{ 
        left: 25%;  
    }
}