/* Veiculo */

.veiculo-detalhe{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    
}

.carro{
    width: 70%;
}
.caminho{
    margin: 20px 0;
}

.foto-destaque{
    width: 100%;
    aspect-ratio: 4/3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.vendafoto-veiculo{
    width: 100%;
    aspect-ratio: 4/3;
    background-image: url(../img/carro1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 5px;
}

.fotos-carro{
    margin-top: 30px;
    display: flex;
    
}
.cont-fotoveiculo{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;/* Coloca os depoimentos um do lado do outro */
    justify-content: space-between;
    transition: transform 0.5s ease-in-out;/* Faz o movimento lateral suave */
    
}


.veiculo-detalhe article:nth-child(2){
    width: 30%;
    padding: 50px 20px;
}



@media (max-width: 780px) {
    .veiculo-detalhe{
        flex-direction: column;
    }

    .carro{
        width: 100%;
    }
    .veiculo-detalhe article:nth-child(2){
        width: 100%;
        text-align: center;
    }

}