/* Pagina Venda */

.venda {
    display: flex;
}

.filtro {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
}

.filtro>div {
    width: 80%;
}

.filtro>div:nth-child(1)>div:nth-child(3) {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.barra {
    width: 100%;
    height: 25px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.progreso {
    width: 30%;
    height: 25px;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(200, 200, 200));
}

.bolinha {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #ccc;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(180, 180, 180));
    transform: translateY(-30px);
    margin-left: 25%;

}

input[type="checkbox"] {
    width: 20px;
    aspect-ratio: 1/1;
    margin: 8px 0;
    border: 2px solid #ccc;
}

.veiculo {
    width: 65%;
}

.veiculo>div {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.veiculo article {
    width: calc(100%/3);
    border: 10px solid white;
}

@media (max-width: 780px) {

    .venda {
        flex-direction: column;
    }

    .filtro {
        width: 100%;
    }

    .filtro>div:nth-child(2) {
        width: 150px;
    }

    .veiculo {
        width: 100%;
        margin-top: 20px;
    }
}

@media (max-width: 580px) {

    .veiculo>div {
        flex-direction: column;
    }

    .veiculo article {
        width: 100%;
        text-align: center;
    }

}