*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}
html,body{
    height: 100%;
    overflow: hidden;
}
header{
    height: 200px;
    padding: 20px 0;
}
.logo{
    width: 50%;
}
.menu{
    width: 50%;
    text-align: right;
}
.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;

}

section .sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    bottom: -350px;
    right: -350px;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: #017143;
}
.extras img{
    
    width: 300px;
    top: 60px;
}
.social-media{
    position: absolute;
    right: 350px;
    top: 200px;
}
.social-media img{
    display: block;
    width: 20px;
    margin: 20px 0;
}

.texto-sobre{
    margin-top: 30px;
}
.texto-sobre h1{
    font-size: 30px;
}
.texto-sobre p{
    margin: 20px 0;
    color: black;
    font-size: 14px;
    font-weight: bold;
    max-width: 600px;
}
.texto-sobre button{
    border: 0;
    background-color: #017143;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}