*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}
html,body{
    height: 100%;
    overflow: hidden;
}
header{
    height: 200px;
    padding: 20px 0;
}
.logo{
    width: 50%;
}
.menu{
    width: 50%;
    text-align: right;
}
.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;

}

section .sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    bottom: -450px;
    right: -500px;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background-color: #017143;
}