@import url(reset.css);

/*Cabeçalho*/

header{
    width: 100%;
    height: 85px;
    
}
.cabeçalho{
    max-width: 1300px;
    width: 100%;
    padding: 0 10px;
    overflow: hidden;
    
}
.logo{
    margin-top: 20px;
    float: left;
}
.menu{
    float: right;   
}
.menu li{
    display: inline-block;
    text-transform: uppercase;
    margin: 30px 20px;
    font-size: 14px;
    
}
.menu li a{
   color: rgb(200, 200, 200); 
}

/*Cabeçalho*/
