@import url(reset.css);

/*Cabeçalho*/

header{
    width: 100%;
    height: 85px;
    
}
.cabeçalho{
    max-width: 1300px;
    width: 100%;
    padding: 0 10px;
    overflow: hidden;
    
}
.logo{
    margin-top: 20px;
    float: left;
}
.menu{
    float: right;   
}
.menu li{
    display: inline-block;
    text-transform: uppercase;
    margin: 30px 20px;
    font-size: 14px;
    
}
.menu li a{
   color: rgb(200, 200, 200); 
}

/*Cabeçalho*/
/*mosaico*/

.mosaico{
    max-width: 1200px;
    width: 100%;
}
.mosaicobox{
    width: calc(100% / 6);
    float: left;
    
}
.mosaicoimg{
    background-color: #ccc;
    border: 5px solid white;
    padding-top: 100%;
}

/*mosaico*/
/*mensagem*/

.mensagem{
    max-width: 900px;
    width: 100%;
    display: flex;
    color: white;
    text-align: center;
    font-size: 12px;
    align-items: center;
    position: relative;
    bottom: 20px;
}

.boxm{
    background-color: #576975; 
    width: 30%;
    padding: 30px 20px;
}
.boxm p{
    margin-top: 10px;
}
.boxm img{
    margin-top: 20px;
}


.mensagem2{
    background-color: #688293;
    width: 40%;  
    padding: 80px 30px;
}


/*mensagem*/
/* Profissional */
.perfil{
    width: 40%;
}

.profissionaltext{
    width: 58%;
    padding-left: 30px;
    font-size: 10pt;
    color:#757575;
    position: relative;
    bottom: 40px; 
}


/* Profissional */

/* Modo Mobile */

@media screen and (max-width: 830px) {
    .mensagem{
        flex-direction: column;
    }
    .boxm{
        max-width: 350px;
        width: 80%;
        padding: 20px 10px;
    }
    .mensagem2{
        width: 90%;
        max-width: 380px; 
        padding: 40px 10px;
    }
    .profissionalbox{
        width: 100%;
        text-align: center;
    }
    .perfil{
        width: 60%;
        display: inline-block;
    }
    .profissionaltext{
        width: 100%;
        padding: 50px 10px 0 10px;
        text-align: justify;
    }
}

/* Modo Mobile */ 